.ant-layout {
  width: 100%;
}

.ant-layout-content {
  padding: 50px;
}

// .site-layout-content {
//   background: #fff;
//   height: 100%;
//   padding: 24px;
// }

.ant-layout-footer {
  text-align: center;
}
